* {
    margin: 0px;
    padding: 0px;
}
.mvh {
    width: 100vw;
    height: 80px;

    background-color: darkblue;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mvh > h1, .mvh > form { 
    display: flex;
    justify-content: center;
}
 
.mvh > h1{
    width: 70%;  
    align-items: center;
}

.mvh > form { 
    width: 30%;  
    align-items: left;
}

input  {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .left {
    height: 80vh;
    width: 70vw;
  }

  .left div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    font-size: 1.2em;
  }

  .left div:hover{
    background-color: skyblue;
  }

  .left span{
    display: inline-flex;
    align-items: center;
  }

  .s1{
    width: 10%;
  }
  .s2{
    width: 60%;
  }
  .s3{
    width: 30%;
  }
  .row{
    background-color: green;
    border: 5px;
    margin: 5px;
    color: yellow;
    font-weight: bold;
  }